@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Enriqueta:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&family=Roboto+Slab:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@400;500&family=Urbanist:wght@300;400;500;600;700;800&family=Varela&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: '#222529';
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}